#%RAML 0.8
title: Steroids Data
mediaType: application/json
baseUri: http://rest-api.appgyver.com/v1/

traits:
  - securedBySteroidsApiKey:
      headers:
        steroidsApiKey:
          type: string
          example: identificationhashgoeshere
          default: eccd4e67e98dda8e952ebbf5ff3c9fde0c742508415f234cc1ab467724488055
        steroidsAppId:
          type: integer
          example: 1234
          default: 23812

schemas:
  - items: '{"$schema":"http://json-schema.org/schema","title":"items collection","type":"array","items":{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical items representation","properties":{"item":{"type":""},"is_bought":{"type":""},"created_at":{"type":""},"bought_at":{"type":""}},"required":[]}}'
  - item: '{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical items representation","properties":{"item":{"type":""},"is_bought":{"type":""},"created_at":{"type":""},"bought_at":{"type":""}},"required":[]}'

resourceTypes:
  - dolan_db_collection:
      usage: This resourceType should be used for any collection of items
      is: [ securedBySteroidsApiKey ]
      get:
        description: |
          {
            "action": "collection"
          }
        responses:
          200:
            description: |
              {
                "rootKey": "objects"
              }
            body:
              application/json:
                schema: <<resourcePathName>> # e.g cars
      post:
        description: |
          {
            "action": "create",
            "rootKey": "object"
          }
        body:
          application/json:
            schema: <<resourcePathName | !singularize>>
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName | !singularize>> # e.g. car

  - dolan_db_member:
      usage: This resourceType should be used for any built.io item
      is: [ securedBySteroidsApiKey ]
      get:
        description: |
          {
            "action": "find"
          }
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName>> # e.g. car
      put:
        description: |
          {
            "action": "update",
            "rootKey": "object"
          }
        body:
          application/json:
            schema: <<resourcePathName | !singularize>>
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName>>
      delete:
        description: |
          {
            "action": "destroy"
          }
        responses:
          200:
      


/items:
  description: |
    {
      "resourceName": "items"
    }
  type: dolan_db_collection
  /{id}:
    type: dolan_db_member


